/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it's above other elements */
  background-color: #fff; /* Or your preferred color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px; /* Adjust based on your layout needs */
}



footer {
  display: block;
  height: fit-content;
  z-index: 1005; /* Ensure it's above other elements */
  overflow: auto;
  margin-top: auto;
}



/* Additional Styles from style.css */

html {
  scroll-behavior: smooth;
  height: 100%;
}

p {
  font-weight: normal;
}

::-moz-selection {
  /* Code for Firefox */
  color: #454176;
  background: #afcdda;
}

::selection {
  color: #e7860f;
  background: #afcdda;
}




.navbar-bg {
  box-shadow: 0 0 5px 0;
  background-color: #6341821d;
  backdrop-filter: blur(10px);
  background: linear-gradient(
          45deg,
          rgba(195, 175, 255, 0.2),
          rgba(100, 216, 243, 0.2),
          rgba(236, 222, 198, 0.2),
          rgba(146, 245, 214, 0.2),
          rgba(149, 52, 219, 0.3)
      )
      0 0 / 1000% no-repeat,
  url("/") 0 0 / cover no-repeat;
  -webkit-animation: gradientAnimation 30s ease infinite;
  animation: gradientAnimation 30s ease infinite;
}

.dropdown-menu {
  background-color: #d4ffff75;
}

.nav-link {
  font-weight: 100;
}

.nav-link:hover {
  font-weight: 500;
  font-style: italic;
  text-decoration-line: underline;
  background-color: rgba(137, 43, 226, 0.09);
  border-radius: 19%;
}

.shadow1 {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.448);
}

.nav-emoji .nav-emoji-2 {
  opacity: 0;
  position: absolute;
  transition-duration: 0.3s;
}
.nav-emoji:hover .nav-emoji-1 {
  opacity: 0;
  transition-duration: 0.3s;
}

.nav-emoji:hover .nav-emoji-2 {
  opacity: 1;
  transition-duration: 0.3s;
}
.nav-emoji-2,
.nav-emoji-1 {
  position: absolute;
  right: 18px;
  top: 15px;
}

/* For Tablets */
@media only screen and (max-width: 768px) {
  .hero1 h1 {
      font-size: 5em;
  }

  .hero1 p {
      font-size: 1.5em;
  }
}

/* For Phones 412px Resolution */
@media only screen and (max-width: 412px) {
  .hero1 h1 {
      font-size: 3em;
  }

  .hero1 p {
      font-size: 1.5em;
  }
}

@media only screen and (max-width: 320px) {
  .hero1 h1 {
      font-size: 0.6em;
  }

  .hero1 p {
      font-size: 0.1em;
  }
}







footer {
  position: static;
  left: 0;
  bottom: 0;
  height: 100px;
  width: auto;
  overflow: auto;
  margin-top: auto;
}







/* card hover animation*/

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  /* Adjust the value as needed */
}